<html>
<head>
	<meta charset="utf-8">
	<title>Etapa 2</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap.vertical-tabs.css">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">


		<div class="row" style="min-height:600px;">
			<div class="col-sm-7">
				<h3>Guía del emprendedor</h3>
				<hr/>
				<div class="col-xs-3"> <!-- required for floating -->
					<!-- Nav tabs -->
					<ul class="nav nav-tabs tabs-left">
						<li class="active"><a href="#Introduccion" data-toggle="tab">Introducción</a></li>
						<li><a href="#Perfil" data-toggle="tab">Perfil de la empresa</a></li>
						<li><a href="#Constitucion" data-toggle="tab">Constitución de la empresa</a></li>
						<li><a href="#Esquema" data-toggle="tab">Esquema de trabajo</a></li>
						<li><a href="#Dependencias" data-toggle="tab">Dependencias funcionales</a></li>
						<li><a href="#Agenda" data-toggle="tab">Agenda de trabajo</a></li> 
						<li><a href="#Cultura" data-toggle="tab">Cultura corporativa</a></li>
						<li><a href="#Motivacion" data-toggle="tab">Motivación</a></li>
						<li><a href="#Liderazgo" data-toggle="tab">Liderazgo</a></li>
						<li><a href="#Comunicación" data-toggle="tab">Comunicación</a></li>
						<li><a href="#Mentoria" data-toggle="tab">Mentoría</a></li>
						<li><a href="#Creatividad" data-toggle="tab">Creatividad e innovación</a></li>
						<li><a href="#Contratacion" data-toggle="tab">Contración y despido</a></li>


					</ul>
				</div>
				<div class="col-xs-9">
					<!-- Tab panes -->
					<div class="tab-content">

						<div class="tab-pane active" id="Introduccion"> 
							<b>Constitución de la empresa</b>
							<ul>
							</br></br>
								<p align="justify" id="p1">
									
									La constitución de una empresa comienza con su concepción en base a una idea. Además de ponerle un nombre, la creación de ésta depende también de qué tipo de empresa será legalmente, cómo se controlará internamente y los diferentes puestos que harán funcionar y por último cómo es que se dará a conocer al público.</p></br>


												</ul>
											</div>


											<div class="tab-pane" id="Perfil"><h4><b>Perfil de una empresa</h4></b></br>
												<ul>
													<p align="justify" id="p6">
														El perfil de la empresa le permite anunciar los detalles de sus servicios, objetivos y experiencia a los clientes potenciales, y es responsable de crear una buena primera impresión a los interesados. 
													</p>

													<p align="justify" id="p7">
													</br>
														<b>¿Qué es el Propósito del negocio?</b>
													</p>

													<p align="justify" id="p8">
														El propósito fundamental de una empresa es crear y mantener a los clientes; una empresa refleja el éxito en sus negocios cuando los trabajadores de la misma se sienten bien laboralmente; no podemos fingir que una empresa es exitosa si los empleados son mediocres o insatisfechos laboralmente.
													</p>

													</p>
												</ul>
											</div>



											<div class="tab-pane" id="Constitucion"><h4><b>Constitución legal: </h4></b></br>
												<ul>
													<p align="justify" id="p11">
														La constitución legal de una empresa es la formalización de un negocio mediante la redacción de una escritura de constitución de sociedad. Puede ser como Persona física, Sociedad anónima o como Sociedad de Responsabilidad Limitada. Cualquiera que sea la forma de constitución que el emprendedor decida para su empresa, deberá seguir una serie de trámites legales.
													</p></br> 

													<p align="justify" id="p12"><b>Representante legal:</b></br> </br> 	
														Es la persona que se encargará y dirigirá su empresa de una manera formal.
													</p>
												</ul>
											</div>



											<div class="tab-pane" id="Esquema">
												<ul>
													<p align="justify" id="p13"><b>Organigrama:</b><br><br>
														El organigrama de una empresa consiste en la representación gráfica de la estructura de la empresa, de manera que no sólo representa a los empleados y recursos humanos de la empresa, sino que también representa las estructuras departamentales, además de ser un buen esquema de las relaciones jerárquicas y competenciales dentro de la empresa. 
													</p><br><br>

													<p align="justify" id="p14"> <b>Contabilidad:</b><br><br>
														Es la persona o personas confiables que administren las cuentas de la empresa.
													</p><br><br>

													<p align="justify" id="p14"> <b>Mercadotecnia:</b><br><br>
														Es la empresa que se dedicará a realizar el estudio de mercadeo necesario para aumentar las ventas de nuestro producto constantemente además de crearle nuevas imágenes a la empresa frescas y de interés al público.
													</p>

												</ul>
											</div>

											<div class="tab-pane" id="Dependencias">
												<ul>
													<p align="justify" id="p15"><b>Dependencia Funcional:</b><br><br>
														La dependencia funcional de una empresa expresa la relación entre los inputs que adquiere fuera del territorio en el que se localiza respecto al output que destina a la economía o región en que se asienta. <br><br>
 
														Así, un valor máximo en la dependencia funcional de una determinada empresa, viene a significar que la totalidad de las compras las realiza en el mercado extranjero y el total de las ventas las destina al mercado local. Por el contrario, un valor mínimo en la dependencia funcional significaría que la empresa adquiere todos sus inputs en el mercado local y destina todos su output a la exportación internacional. 
													</p>
											</div>

											<div class="tab-pane" id="Agenda">
												<ul>
													<p align="justify" id="p15"><b>Agenda de Trabajo:</b><br><br>
														Organizar, planificar y gestionar la agenda de trabajo son tareas que cualquier profesional deberá dominar, para ello, es necesario tener unas buenas dotes organizativas y de sentido común, anotar toda la información, incluso aquella que no parecer importante.<br><br>
 
														En reuniones de negocio y de muchas instituciones públicas y privadas, la agenda de la reunión se conoce también como orden del día. La agenda se distribuye generalmente a los participantes de una reunión antes de la misma, de modo que los asistentes estén enterados de los temas que se discutirán y puedan prepararse consecuentemente para la reunión.
													</p>

												</ul>
											</div>

											<div class="tab-pane" id="Cultura">
												<ul>
													<p align="justify" id="p22"><b>Cultura Corporativa:</b><br><br>
														Constituye el conjunto de normas, valores y pautas de conducta que comparten los integrantes de la empresa, que se ve reflejado en sus comportamientos. Es determinada por factores tales como: la personalidad de sus directivos y empleados, por la historia de la compañía y el entorno social donde se desarrolla.<br><br>
 
														La cultura es un factor de integración, ya que los miembros del grupo para sentirse parte deben cumplir con las pautas establecidas. Se puede trabajar y gestionar sobre la misma para alinearla con la filosofía y lograr una identidad coherente en todos los sentidos.
													</p>
												</ul>
											</div>


											<div class="tab-pane" id="Motivacion">
												<ul>
													<p align="justify" id="p22"><b>Motivación:</b><br><br>
														La motivación laboral es la capacidad que tienen las empresas y organizaciones para mantener el estímulo positivo de sus empleados en relación a todas las actividades que realizan para llevar a cabo los objetos de la misma, es decir, en relación al trabajo.
														<br><br>
 
														Constituye el éxito de toda empresa el lograr que sus empleados sientan que los objetivos de ésta se alinean con sus propios objetivos personales, capaces de satisfacer sus necesidades y llenar sus expectativas. Sin embargo debe entenderse que el concepto de motivación varía de acuerdo a la persona y a factores sociales y culturales.
													</p>
												</ul>
											</div>


											<div class="tab-pane" id="Liderazgo">
												<ul>
													<p align="justify" id="p22"><b>Liderazgo:</b><br><br>
														El líder no se hace solo, sino que utiliza varias herramientas que le permiten realizar sus funciones que es lo que le permite capacitarse para realizar su liderazgo dentro de una empresa. Existen varias cualidades que el líder debe tener como:
														<br><br>
 
														<b>Carisma:</b> Es una especie de atracción, producto de la integración de unos rasgos físicos atrayentes y de una personalidad singular.<br><br>

														<b>Capacidad de persuasión:</b> Es aquella habilidad para convencer al grupo de trabajo de la necesidad de emprender un cambio o un proyecto modificando, si fuera necesario, algunas de las creencias, pensamientos o conductas de las personas.<br><br>
 
														<b>Ambición de poder:</b> Es aquella capacidad que motiva al líder haciendo que día a día trabaje en su superación personal y en la consecución de unos objetivos.
													</p>
												</ul>
											</div>

											<div class="tab-pane" id="Comunicación">
												<ul>
													<p align="justify" id="p22"><b>Comunicación:</b><br><br>
														La capacidad de comunicarse es una sola y es una prioridad para poder alcanzar los objetivos específicos que nos hemos planteado. Las relaciones laborales dentro de una empresa son tan importantes, que constituyen una especialidad dentro de la comunicación.<br><br>
 
														La comunicación  ayuda a mejorar la compresión entre los compañeros de trabajo, a través de esto ellos se pueden ayudar y orientar en problemas que se les presenten en el ámbito laboral, pueden trabajar de manera conjunta para lograr algún tipo de objetivo. Lo interesante está en que los niveles son interdependientes, significa que es  una especie de sistema, en que un escalón facilita el acceso al escalón siguiente.
													</p>
												</ul>
											</div>


											<div class="tab-pane" id="Mentoria">
												<ul>
													<p align="justify" id="p22"><b>Mentoría:</b><br><br>
														La mentoría es una relación de desarrollo personal en la cual una persona más experimentada o con mayor conocimiento ayuda a otra menos experimentada o con menor conocimiento. La persona que recibe la mentoría ha sido llamada tradicionalmente como aprendiz.<br><br>
 
														El mentor será una persona perteneciente al mismo colectivo que el mentorizado, pero que, a diferencia de aquél, posee una situación laboral más consolidada. Como persona que ya ha experimentado lo que ahora vive el mentorizado, podrá ayudarle, desde una mayor comprensión de la situación. Para que su labor sea realmente efectiva habrá que sumarle su experiencia, una formación específica en cuanto a desarrollo de competencias. 
													</p>
												</ul>
											</div>


											<div class="tab-pane" id="Creatividad">
												<ul>
													<p align="justify" id="p22"><b>Creatividad:</b><br><br>
														La creatividad no está limitada a unas pocas personas. Cada persona tiene un potencial creativo más o menos grande. El problema está en que la creatividad no ha sido entrenada e impulsada hasta el momento. <br><br>
 														
 														<b>Innovación:</b><br><br>
														La innovación es el proceso en el cual a partir de una idea, invención o reconocimiento de una necesidad se desarrolla un producto, técnica o servicio útil hasta que sea comercialmente aceptado. Cada innovación requiere estrategia creativa usa el pensamiento creativo como una variable evolucionadora e introduce exitosamente innovaciones como impulso para el cambio social.  
													</p>
												</ul>
											</div>


											<div class="tab-pane" id="Contratacion">
												<ul>
													<p align="justify" id="p22"><b>Estrategias para contratar personal:</b><br><br>
														Lo único más importante que usted debe hacer para asegurar el éxito de su organización es contratar a las mejores personas que pueda encontrar para que hagan su trabajo. El éxito en la contratación de la gente adecuada determina el grado de rapidez con el que una pequeña empresa pasa de la supervivencia al crecimiento. Dicho de otra manera, el éxito de un negocio depende en gran medida en el reclutamiento de gente capaz, y si es posible, los mejores para el puesto y para la empresa. <br><br>
 														
 														Factores de despido:<br><br>
														1.- Que por parte del trabajador haya un engaño a través de certificados falsos presentados para obtener un beneficio.<br><br>
														2.- Cualquier acción delictiva o inmoral que cometa el trabajado en su lugar de trabajo o mientrasrealiza el mismo.<br><br>
														3.-Cualquier acto de violencia, indisciplina grave o injuria que el trabajador realice en su trabajo. 
													</p>
												</ul>
											</div>





										</div>
									</div>
								</div>
							</div>
						</div>

						<form >
							<input type="submit" style="Position:Absolute; left:37%; top:37%" name="etapa1" value ="Etapa 1"onclick ="this.form.action='http://localhost:8000/CodeIgniter/index.php/tutorialnoLog'">
 							<input type="submit" style="Position:Absolute; left:42%; top:37%" name="etapa2" value ="Etapa 2" >
							 <input type="submit" style="Position:Absolute; left:47%; top:37%" name="etapa3" value ="Etapa 3">
							 <input type="submit" style="Position:Absolute; left:67%; top:37%" name="iniciar" value ="Iniciar sesión" onclick ="this.form.action='http://localhost:8000/CodeIgniter/index.php/validacion'">
 							<input type="submit" style="Position:Absolute; left:77%; top:37%" name="registrar" value ="Registrarse"onclick ="this.form.action='http://localhost:8000/CodeIgniter/index.php/register/insertardatos'">
						</form>
					</body>
					</html>