<html>
<head>
<meta charset="utf-8">
<title>Bootstrap Vertical Tabs</title>
<meta name="viewport" content="width=device-width, initial-escale=1.0">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap.vertical-tabs.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">


<div class="row" style="min-height:600px;">
<div class="col-sm-7">
<h3>Guía del emprendedor</h3>
<hr/>
<div class="col-xs-3"> <!-- required for floating -->
<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-left">
<li class="active"><a href="#Definición" data-toggle="tab">Definición</a></li>
<li><a href="#Justificación" data-toggle="tab">Justificación</a></li>
<li><a href="#Misión" data-toggle="tab">Misión</a></li>
<li><a href="#Visión" data-toggle="tab">Visión</a></li>
<li><a href="#Objetivos" data-toggle="tab">Objetivos</a></li>
<li><a href="#Valores" data-toggle="tab">Valores</a></li>
</ul>
</div>
<div class="col-xs-9">
<!-- Tab panes -->
<div class="tab-content">

<div class="tab-pane active" id="Definición"> 
<b>Tienes que tener en cuenta cinco bloques:</b>
<ul>
<p align="justify" id="p1">
<li type="circle"><b>Competidores</b></li>
Son las personas que venden el mismo producto que quieres vender tú. Fíjate en el tamaño, la calidad y la fidelidad.</p><br />

<p align="justify" id="p2">
<li type="circle"><b>Entrantes</b></li>
Plantéate si es un sector en crecimiento y si pueden entrar otras empresas en el futuro.</p><br />

<p align="justify" id="p3">
<li type="circle"><b>Sustitutos</b></li>
Plantéate si existen sustitutos a tu producto o servicio.</p><br />

<p align="justify" id="p4">
<li type="circle"><b>Proveedores</b></li>
Son aquellas personas que ofrecen otros productos y servicios que necesita tu empresa para ejercer su actividad.</p><br />

<p align="justify" id="p5">
<li type="circle"><b>Clientela</b></li>
Es muy importante segmentar bien tu público y evitar que tu empresa se dirija "a todo el mundo". Ten presente la edad, el sexo y los estudios.</p>
</ul>
</div>


<div class="tab-pane" id="Justificación"><h4><b>¿Qué es la justificación?</h4></b></br>
<ul>
<p align="justify" id="p6">
Consiste en mencionar los beneficios que trae consigo la creación de una nueva empresa, las aportaciones técnicas, tecnológicas, científicas, sociales, etc y todos los beneficios que puede traer el crearla, desde el proyecto de inversión (con su respectivo análisis financiero) hasta el análisis del producto o servicio que va a brindar dicha empresa. Puntos a tomar en cuenta al momento de realizarla:
</p>

<p align="justify" id="p7">
<li type="square">Explica las maneras como el proyecto entrará a solucionar el problema planteado y cuál es su contribución.</li>
</p>

<p align="justify" id="p8">
<li type="square">Incluye el impacto en el corto, mediano y largo plazo.</li>
</p>

<p align="justify" id="p9">
<li type="square">En que forma va a beneficiar el proyecto a los ejecutores.</li>
</p>

<p align="justify" id="p10">
<li type="square">Se debe incluir el interés, la utilidad y novedad del proyecto.</li>
</p>
</ul>
</div>

<div class="tab-pane" id="Misión"><h4><b>¿Qué es la misión?</h4></b></br>
<ul>
<p align="justify" id="p11">
La misión define principalmente, cual es nuestra labor o actividad en el mercado, además se puede completar, haciendo referencia al público hacia el que va dirigido y con la singularidad, particularidad o factor diferencial, mediante la cual desarrolla su labor o actividad. 
</p>

<p align="justify" id="p12">
El definir la misión de nuestra empresa, nos ayudará responder algunas de las siguientes preguntas: ¿qué hacemos?, ¿cuál es nuestro negocio?, ¿a que nos dedicamos?, ¿cuál es nuestra razón de ser?, ¿quiénes son nuestro publico objetivo?, ¿cuál es nuestro ámbito geográfico de acción?, ¿cuál es nuestra ventaja competitiva?, ¿qué nos diferencia de nuestros competidores?.
</p>
</ul>
</div>

<div class="tab-pane" id="Visión"><h4><b>¿Qué es la visión?</h4></b></br>
<ul>
<p align="justify" id="p13">
La visión define las metas que pretendemos conseguir en el futuro. Estas metas tienen que ser realistas y alcanzables, puesto que la propuesta de visión tiene un carácter inspirador y motivador.  
</p>

<p align="justify" id="p14">
Para la definición de  la visión de nuestra empresa, nos ayudará responder a las siguientes preguntas: ¿qué quiero lograr?, ¿dónde quiero estar en el futuro?, ¿para quién lo haré?, ¿ampliaré mi zona de actuación?.
</p>
</ul>
</div>

<div class="tab-pane" id="Objetivos"><h4><b>¿Qué son los objetivos?</h4></b></br>
<ul>
<p align="justify" id="p15">
Definir claramente los objetivos de nuestra empresa es fundamental para organizar la actividad en todos sus niveles: inversión técnica, recursos humanos, facturación y ventas, publicidad. Cuando hayamos determinado hacia donde queremos ir, ya podremos definir el cómo hacerlo. Además, nos van a permitir medir y evaluar los resultados obtenidos. 
</p>

<p align="justify" id="p16">
A la hora de definir los objetivos de una empresa han de cumplir una serie de características. Estos objetivos deben ser SMART:
</p>
<p align="justify" id="p17">
<b>S:</b> específicos, no generales. Deben definir una acción concreta.
</p>
<p align="justify" id="p18">
<b>M:</b> medibles para que podamos valorar su cumplimiento.
</p>
<p align="justify" id="p19">
<b>A:</b> alcanzables, posibles, que se puedan conseguir para motivarnos a ello y para que realmente sean útiles para nuestra empresa.
</p>
<p align="justify" id="p20">
<b>R:</b> relevantes y realistas, importantes y prudentes, aunque sin dejar de ser retadores.
</p>
<p align="justify" id="p21">
<b>T:</b> temporalizados, delimitados en el tiempo, con fechas claras marcadas para su consecución, es decir, programados.
</p>
</ul>
</div>

<div class="tab-pane" id="Valores"><h4><b>¿Qué son los valores?</h4></b></br>
<ul>
<p align="justify" id="p22">
Los valores, son principios éticos sobre los que se asienta la cultura de nuestra empresa y nos permiten crear nuestras pautas de comportamiento. 
</p>

<p align="justify" id="p23">
No olvidemos que los valores son la personalidad de nuestra empresa y no pueden convertirse en una expresión de deseos de los dirigentes, sino que tienen que plasmar la realidad.
</p>
</ul>
</div>

</div>
</div>
</div>
</div>
<form>
	<input type="submit" style="Position:Absolute; left:37%; top:37%" name="etapa1" value ="Etapa 1">
 <input type="submit" style="Position:Absolute; left:42%; top:37%" name="etapa2" value ="Etapa 2" onclick ="this.form.action='http://localhost:8000/CodeIgniter/index.php/tutorialnoLog/etapa2'">
 <input type="submit" style="Position:Absolute; left:47%; top:37%" name="etapa3" value ="Etapa 3">
 <input type="submit" style="Position:Absolute; left:67%; top:37%" name="iniciar" value ="Iniciar sesión" onclick ="this.form.action='http://localhost:8000/CodeIgniter/index.php/validacion'">
 <input type="submit" style="Position:Absolute; left:77%; top:37%" name="registrar" value ="Registrarse"onclick ="this.form.action='http://localhost:8000/CodeIgniter/index.php/register/insertardatos'">
</form>
 
</div>
 

</body>
</html>