<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Sistema</title>
	<meta name="viewport" content="width=device-width, initial-escale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="http://localhost:8000/CodeIgniter/Estilos/login.css" type="text/css" media="screen" />


</head>
<body>
<h1 id="TituloLg">Consultoria Empresarial</h1>

	<div id="caja">
	<h2>Inicio de sesion</h2>
		
		<form method="post" action="" >
			<label>Usuario:</label>
			<input type="text" name="ID" class="form_control" />
			<label>Contraseña:</label>
			<input type="password" name="contraseña" class="form_control"/>
			<input type="submit" name="verificar" value="Entrar"/>


			<p class="text-center"><a id="Regis" href="http://localhost:8000/CodeIgniter/index.php/register/insertardatos" >Registrarse</a></p>  
			



			<p class="text-center"><a id="Ol" href="restaurarcontr.php">¿Olvidaste la contraseña?</a></p>  

		</form>

	</div>


</body>
</html>